
CaringSquareApp/.vs/CaringSquareApp/config/applicationhost.config
CaringSquareApp/.vs/CaringSquareApp/v16/.suo
CaringSquareApp/obj/Debug/CaringSquareApp.csproj.CoreCompileInputs.cache
CaringSquareApp/obj/Debug/CaringSquareApp.csproj.FileListAbsolute.txt
CaringSquareApp/obj/Debug/CaringSquareApp.csprojAssemblyReference.cache
CaringSquareApp/packages/SendGrid.9.15.0/.signature.p7s
CaringSquareApp/packages/SendGrid.9.15.0/lib/net452/SendGrid.dll
CaringSquareApp/packages/SendGrid.9.15.0/lib/net452/SendGrid.pdb
CaringSquareApp/packages/SendGrid.9.15.0/lib/net452/SendGrid.xml
CaringSquareApp/packages/SendGrid.9.15.0/lib/netstandard1.3/SendGrid.dll
CaringSquareApp/packages/SendGrid.9.15.0/lib/netstandard1.3/SendGrid.pdb
CaringSquareApp/packages/SendGrid.9.15.0/lib/netstandard1.3/SendGrid.xml
CaringSquareApp/packages/SendGrid.9.15.0/lib/netstandard2.0/SendGrid.dll
CaringSquareApp/packages/SendGrid.9.15.0/lib/netstandard2.0/SendGrid.pdb
CaringSquareApp/packages/SendGrid.9.15.0/lib/netstandard2.0/SendGrid.xml
CaringSquareApp/packages/SendGrid.9.15.0/SendGrid.9.15.0.nupkg
CaringSquareApp/bin/SendGrid.dll
CaringSquareApp/bin/SendGrid.pdb
CaringSquareApp/bin/SendGrid.xml
CaringSquareApp/obj/Debug/Tsc.out
CaringSquareApp/Web.config
CaringSquareApp/packages.config
CaringSquareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CaringSquareApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CaringSquareApp/obj/Debug/CaringSquareApp.pdb
CaringSquareApp/obj/Debug/CaringSquareApp.dll
CaringSquareApp/obj/Debug/CaringSquareApp.csprojAssemblyReference.cache
CaringSquareApp/obj/Debug/CaringSquareApp.csproj.FileListAbsolute.txt
CaringSquareApp/obj/Debug/CaringSquareApp.csproj.CoreCompileInputs.cache
CaringSquareApp/CaringSquareApp.csproj
CaringSquareApp/bin/CaringSquareApp.pdb
CaringSquareApp/bin/CaringSquareApp.dll.config
CaringSquareApp/bin/CaringSquareApp.dll
CaringSquareApp/App_Data/aspnet-CaringSquareApp-20200423015838_log.ldf
CaringSquareApp/App_Data/aspnet-CaringSquareApp-20200423015838.mdf
CaringSquareApp/.vs/CaringSquareApp/v16/.suo
CaringSquareApp/.vs/CaringSquareApp/config/applicationhost.config
CaringSquareApp/.vs/CaringSquareApp/config/applicationhost.config
CaringSquareApp/.vs/CaringSquareApp/v16/.suo
CaringSquareApp/App_Data/aspnet-CaringSquareApp-20200423015838.mdf
CaringSquareApp/App_Data/aspnet-CaringSquareApp-20200423015838_log.ldf
CaringSquareApp/bin/CaringSquareApp.dll
CaringSquareApp/bin/CaringSquareApp.dll.config
CaringSquareApp/bin/CaringSquareApp.pdb
CaringSquareApp/CaringSquareApp.csproj
CaringSquareApp/obj/Debug/CaringSquareApp.csproj.CoreCompileInputs.cache
CaringSquareApp/obj/Debug/CaringSquareApp.csproj.FileListAbsolute.txt
CaringSquareApp/obj/Debug/CaringSquareApp.csprojAssemblyReference.cache
CaringSquareApp/obj/Debug/CaringSquareApp.dll
CaringSquareApp/obj/Debug/CaringSquareApp.pdb
CaringSquareApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CaringSquareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CaringSquareApp/packages.config
CaringSquareApp/Web.config
