@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="heading1">Welcome to Caring Square!</h2>
    <h2 class="heading2">Create Events and stay connected with your friends and family.</h2>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Add Interests</h2>
        <p>Add your Interests so we can recommend events for you.       </p>
        <p><a class="btn btn-default" href="/Interests" disabled="disabled">Go to Home Page &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Find Friends</h2>
        <p>Find and add friends in Caring Sqaure application.            </p>
        <p><a class="btn btn-default" href="/FriendLists" disabled="disabled">Go to Friend List &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Create Events</h2>
        <p>Create Social Events and share the same with your friends.    </p>
        <p><a class="btn btn-default" href="/SocialEvents" disabled="disabled">Go Create Social Events &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Go to Events</h2>
        <p>Participate in existing Social Events planned by your friends.</p>
        <p><a class="btn btn-default" href="/Participants" disabled="disabled">Go to Social Events &raquo;</a></p>
    </div>
</div>