@{
ViewBag.Title = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1 id="headingedit1">Welcome to <span>Caring Square!</span></h1>
                    <h2>A day spent with your friends or elderly family members is a day well spent. A helper application to plan your day is just a few clicks away.</h2>
                    <div class="text-center text-lg-left">
                        <a href="/Account/Login" class="btn-get-started scrollto" style="background-color: #31943b">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">

            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
                </g>
                <g class="wave2">
                    <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
                    </g>
                    <g class="wave3">
                        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
                        </g>
                    </svg>

                </section><!-- End Hero -->
     
                <main id="main">
                    <section id="pricing" class="pricing" style="padding:50px">
                        <div class="container">
                            <div class="section-title" data-aos="fade-right" style="padding:0px">
                                <h2>How can we help</h2>
                                <p>Our Features</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row" data-aos="fade-left">
                                <div class="col-lg-4 col-md-6 ">
                                    <div class="box" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 30px">

                                        <h2 id="headingedit2">Dashboards</h2>
                                        <br />
                                        <p id="paragraphedit2">Keep track of upcoming Events so you don't miss them</p>
                                    </div>
                                </div>
                
                        
                                <div class="col-lg-4 col-md-6 ">
                                    <div class="box" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 30px">

                                       <h2 id="headingedit2">Add Friends</h2>
                                    <br />
                                    <p id="paragraphedit2">Find and add your friends in Caring Square application.        </p>

                                    </div>
                                </div>
                            
                                <div class="col-lg-4 col-md-6 ">
                                    <div class="box" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 30px">

                                        <h2 id="headingedit2">Create Events</h2>
                                    <br />
                                    <p id="paragraphedit2">Create Social Events and share the same with your friends.    </p>

                          
                                </div>
                            </div>               

                        </div>
                    </section>
                </main>