@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container" style="font-family: sans-serif;margin:0% 25% 0% 15%  ;text-align:justify;color: #fff;font-weight: bold;background-size: cover;">
                        <br />
                        <h2 style="margin:0 ;">
                            Looking for a <br />
                            <b style="color:#AECB91">perfect</b>  place to <br />
                            plan your own <br />
                            <b style="color:#AECB91">social events ?</b> <br /><br />
                        </h2>

                        <a href="/POIs" class="btn-get-started scrollto " style="background-color: #31943b;">Explore places here</a>
                        <br /><br /><br />
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container" style="font-family: sans-serif;margin:0% -10%  ;text-align:right;color: #fff;font-weight: bold;background-size: cover;">
                        <br />
                        <h2 style="margin:0 ;">
                            <b>1 in 4</b><br />
                            Elders experiences <br />
                            high level of social <br />
                            interaction anxiety <br /><br />
                        </h2>

                        <a href="/Home/About/" class="btn-get-started scrollto " style="background-color: #31943b;">Other Facts</a>
                        <br /><br /><br />
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row" hidden>
            <div class="col-lg-6 pt-6 pt-lg-0 order-1 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1 style="font-family: sans-serif;margin-top:30px;text-align: left;color: #fff;font-weight: bold;font-size: 4em;background-size: cover;text-shadow: 2px 2px 8px #404040;"><span>Caring Square</span></h1>
                    <h2 style="font-family: sans-serif;margin-top:30px;text-align:justify;color: #fff;font-weight: bold;font-size: 1.5em;background-size: cover;text-shadow: 2px 2px 8px #404040;">Let's fight loneliness together! A day spent with your friends or elderly family members is a day well spent. A helper application to plan your day is just a few clicks away. <br /><br /></h2>
                    <div class="">
                        <br />
                        <a href="/Account/Login" class="btn-get-started scrollto " style="background-color: #31943b;margin-top:63px;">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-2 hero-img order-lg-2 text-center" data-aos="zoom-out" data-aos-delay="300">
                <h2 style="font-family: sans-serif;margin-top:30px;text-align: center;color: #fff;font-weight: bold;font-size: 1.8em;background-size: cover;text-shadow: 2px 2px 8px #404040;"> <span>DID YOU KNOW?</span></h2>
                <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 30px">

                    <a href="/Home/About">
                        <img src="../img/OneinFour.png" alt="" style="width:50%; height:60% ; text-align:right;">
                    </a>
                </div>
                <div class="">
                    <br />
                    <a href="/Home/About" class="btn-get-started scrollto " style="background-color: #31943b;margin-top:-6px;">Click Here to Know More</a>
                </div>
            </div>

        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>

</section><!-- End Hero -->
<!-- ======= Team Section ======= -->
<section id="team" class="team" style="padding:6    0px 0">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
   
            <p>HOW IT WORKS</p>
        </div>

        <div class="row" data-aos="fade-left">

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pic"><img src="../../img/explore.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>EXPLORE PLACES</h4>
                        <span>Chief Executive Officer</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pic"><img src="../../img/create.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>CREATE EVENT</h4>
                        <span>Product Manager</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <div class="pic"><img src="../../img/envelope.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Share</h4>
                        <span>CTO</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->

<main id="main" hidden>
    <section id="pricing" class="pricing" style="padding:50px">
        <div class="container">
            <div class="section-title" data-aos="fade-right" style="padding:0px">
                <h2>How can we help</h2>
                <p>Our Features</p>
            </div>
        </div>
        <div class="container">
            <div class="row" data-aos="fade-left">
                <div class="col-lg-4 col-md-6 ">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 30px">
                        <h2 id="headingedit2">Dashboards</h2>
                        <br />
                        <img style="width:200px;" src="~/img/Dashboard.jpg" />
                        <p id="paragraphedit2">Keep track of upcoming Events so you don't miss them.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 30px">
                        <h2 id="headingedit2">Create Events</h2>
                        <br />
                        <img style="width:200px;" src="~/img/Events.jpg" />
                        <p id="paragraphedit2">Create Social Events and share the same with your friends.    </p>


                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 30px">

                        <h2 id="headingedit2">Share Events</h2>
                        <br />
                        <img style="width:200px;" src="~/img/Friends.jpg" />
                        <p id="paragraphedit2">Share your Social Events with friends. Invite them to your Events.        </p>

                    </div>
                </div>



            </div>
        </div>
    </section>
</main>
<script>
    window.onload = function () {
        var idx = 1
        $('#carouselExampleIndicators').bind('slide.bs.carousel', function (e) {
            if (idx % 2 == 0) {
                document.getElementById("hero").style.backgroundImage = "url('/img/homepage_explore.png')";
            }
            if (idx % 2 == 1) {
                document.getElementById("hero").style.backgroundImage = "url('/img/home_facts.png')";
            }
            idx = idx + 1;

        });

        // document.body.style.backgroundImage = "url('home_facts.png')";
    }
</script>
<!--
<script>
    var password;
    var password1 = "12345";
    password = prompt('Enter Secure Password to view application');
    if (password == password1)
        alert('Correct password');
    else {
        window.location = "http://www.google.com";
    }
</script>
    -->
